<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="app">
        아이디 :
        <input type="text" placeholder="검색할 아이디를 입력" v-model='id' @keyup='sendId'>
        <input type="text" placeholder="검색할 아이디를 입력" v-model='id' @keyup.enter='sendId'>
        <input type="text" placeholder="검색할 아이디를 입력" v-model='id' @keyup.13='sendId'>
        <button @click='sendId'>결과 보기</button>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            id: ''
        },
        methods: {
            sendId() {
                alert(this.id);
            }
        }
    })
</script>

</html>