<!DOCTYPE html>
<html lang="en">
<!-- 
단순 출력 : {{}}, v-text, v-html
속성 입력 : v-bind : 속성 = "속성값"  :::: 여러 개 속성 바인딩
양방향 바인딩 : v-model

v-for
v-if
v-show
 -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div id='app'>
        <ul>
            <li v-for="n in numbers">{{n}}</li>
        </ul>
        <table :border=2>
            <tr>
                <th>이 름</th>
                <th>나 이</th>
            </tr>
            <tr v-for="p in people" v-if="p.age<50">
                <td>{{p.name}}</td>
                <td>{{p.age}}</td>
            </tr>
        </table>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                numbers: [1, 2, 3, 4, 5, 6, 7],
                people: [{
                    name: '이순신',
                    age: 50
                }, {
                    name: '강감찬',
                    age: 40
                }, {
                    name: '을지문덕',
                    age: 30
                }]
            }
        })
    </script>
</body>

</html>