<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-for</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <h2>v-for</h2>
    <div id='app'>
        <h2>객체 배열 : 내용 출력</h2>
        <ul>
            <li v-for="e in encore">
                {{e.name}}의 반수 : {{e.count}}
            </li>
        </ul>

        <h2>객체 배열 : 번호, 내용 출력</h2>
        <ul>
            <li v-for="e, index in encore">
                {{index+1}}. {{e.name}}, {{e.count}}개 반
            </li>
        </ul>

        <h2>객체 배열 내용 출력</h2>
        <ul>
            <li v-for="(e, index) in encore">
                {{index+1}}. {{e.name}}, {{e.count}}개 반
            </li>
        </ul>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                encore: [{
                    name: '영등포구',
                    count: 3
                }, {
                    name: '남부지구',
                    count: 5
                }, {
                    name: '서초지구',
                    count: 7
                }]
            }
        })
    </script>
</body>

</html>