<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../util/1/table.css" />
    <title>SSAFY</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id='app'>
        <div class='headtitle'>
            <h2>ENCORE HRM LIST</h2>
        </div>
        <div class='search_box'>
            <a href='./index04.html'>사원추가</a> |
            <a href='./index03.html'>이름으로 찾기</a> |
            <a href='./index02.html'>아이디로 찾기</a> |
            <a href='./index01.html'>모든사원 보기</a>
        </div>

        <form action="" method="POST" name="frmForm" id="_frmForm" @submit.prevent="addEmployee">
            <table class="content_table">
                <colgroup>
                    <col style="width:30%" />
                    <col style="width:70%" />
                </colgroup>
                <tr>
                    <th>이름</th>
                    <td><input type="text" name="name" id="_name" size="30" v-model="cname" /></td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td>
                        <input type="text" name="mailid" id="_mailid" size="20" v-model="cmailid" /></td>
                </tr>
                <tr>
                    <th>고용일</th>
                    <td><input type=" date " name="start_date " id="_start_date " size="30 " v-model="cstart_date" /></td>
                </tr>
                <tr>
                    <th>관리자</th>
                    <td>
                        <select name="manager_id " v-model="cmailid ">
              <option v-for="emp in info " :value="emp.id ">
                {{emp.id}} : {{emp.name}}
              </option>
            </select>
                    </td>
                </tr>
                <tr>
                    <th>직책</th>
                    <td>
                        <select name="title " v-model="ctitle ">
                <option v-for="emp in info " :value="emp.title ">
                  {{emp.title}}
                </option>
              </select>
                    </td>
                </tr>
                <tr>
                    <th>부서</th>
                    <td>
                        <select name="dept_id " v-model="cdept_id ">
                <option v-for="dept in info " :value="dept.dept_id">
                  {{dept.dept_id}} : {{dept.name}}
                </option>
              </select>

                    </td>
                </tr>
                <tr>
                    <th>월급</th>
                    <td><input type="number " name="salary " id="_salary " size="30 " v-model="csalary" min="0 " /></td>
                </tr>
                <tr>
                    <th>커미션</th>
                    <td><input type="number " name="commission_pct " id="_commission_pct " size="30 " v-model="ccommission_pct" min="0 " /></td>
                </tr>
                <tr>
                    <td colspan="2 " style="height: 50px; text-align: center; ">
                        <button type="submit " name="button ">사원 추가</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <script type="text/javascript ">
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    info: [],
                    loading: true,
                    errored: false,
                    cname: '',
                    cmailid: '',
                    ctitle: '',
                    cstart_date: '',
                    csalary: 0,
                    cmanager_id: 0,
                    cdept_id: 0,
                    ccommission_pct: 0,
                    depts: null,
                    titles: null
                }
            },
            filters: {
                salarydecimal(value) {
                    return value.toFixed(2)
                }
            },
            mounted() {
                axios
                    .get('http://localhost:7777/api/findAllEmployees')
                    //.get('./emp.json')
                    .then(response => (this.info = response.data))
                    .catch(error => {
                        console.log(error)
                        this.errored = true
                    })
                    .finally(() => this.loading = false);
                axios
                    .get('http://localhost:7777/api/findAllDepartments')
                    .then(response => (this.depts = response.data))
                    .catch(error => {
                        console.log(error)
                        this.errored = true
                    })
                    .finally(() => this.loading = false);
                axios
                    .get('http://localhost:7777/api/findAllTitles')
                    .then(response => (this.titles = response.data))
                    .catch(error => {
                        console.log(error)
                        this.errored = true
                    })
                    .finally(() => this.loading = false);
            },
            methods: {
                addEmployee() {
                    if (this.cname == '') {
                        alert('아이디를 입력하세요');
                        return;
                    }
                    if (this.cdept_id == '') {
                        alert('부서를 선택하세요');
                        return;
                    }
                    if (this.cmailid == '') {
                        alert('메일주소를 선택하세요');
                        return;
                    }
                    if (this.cmanager_id == '') {
                        alert('관리자를 선택하세요');
                        return;
                    }
                    if (this.csalary == '') {
                        alert('월급을 입력하세요');
                        return;
                    }
                    if (this.cstart_date == '') {
                        alert('입사일을 선택하세요');
                        return;
                    }
                    if (this.ctitle == '') {
                        alert('직책을 선택하세요');
                        return;
                    }
                    if (this.ccommission_pct == '') {
                        alert('commission을 입력하세요');
                        return;
                    }
                    axios
                        .get('http://localhost:7777/api/addEmployee', {
                            commission_pct: this.ccommission_pct,
                            dept_id: this.cdept_id,
                            mailid: this.cmailid,
                            manager_id: this.cstart_date,
                            name: this.cname,
                            salary: this.csalary,
                            start_date: cstart_date,
                            title: this.ctitle
                        })
                        .then(function(response) {
                            alert(`${app.cname} 님이 등롣되셨습니다.`);
                            loaction.href = "./index01.html";
                        })
                }
            }
        })
    </script>
</body>

</html>